body {
	margin: 0;
	padding: 0;
	background: #20a8d8;
	font-family: sans-serif;
}
.loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	min-height: 200px;
	background: #fff;
	border-radius: 10px;	
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2), 0px 12px 20px 4px rgba(0, 0, 0, 0.19);
}
.user {
	margin: 0 auto;
	padding: block;
	margin-bottom: 20px;
}
.loginBox img {
	margin-left: 25%;	
	width: 50%;
	height: 50%;
	border-radius: 50%;
}
.loginBox img:hover {
	transform: rotateY(360deg);
	transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}
h3 {
	margin: 0;
	padding: 0 0 20px;
	color: #262626;
	text-align: center;
}
.loginBox input {
	width: 100%;
	margin-bottom: 40px;
}
.loginBox input[type="text"],
.loginBox input[type="password"] {
	border: none;
	border-bottom: 2px solid #262626;
	outline: 40px;
	color: #262626;
	background: transparent;
	font-size: 15px;
	padding-left: 20px;
	box-sizing: border-box;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
	border-bottom: 2px solid #ed292a;	
	transition: all 0.2s;
    transition-delay: 0.2s;
}
.inputBox {
	position: relative;
}
.inputBox span {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #262626;
}
.loginBox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background: #ed292a;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
}
.loginBox input[type="submit"]:hover {
	background: #262626;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.4s;
    transition-delay: 0.2s;
}
.loginBox a {
	color: #262626;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}