/*
  DEMO STYLE
*/

/* ---------------------------------------------------
  Custom Scrollbar
----------------------------------------------------- */

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* ---------------------------------------------------
  Main Style
----------------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  background: #f3f3f3;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;
}

/* ---------------------------------------------------
  Box Shadow (Material Design) and many custom
----------------------------------------------------- */

.card,
.breadcrumb,
.bd-callout,
.btn,
.jumbotron {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.jumbotron {
  font-family: 'Loguetown Demo', sans-serif;
  color: #555;
}

#sidebar {
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.bg-core,
.btn-core {
  color: #fff;
  background: #20a8d8;
}

.card-header,
.breadcrumb {
  background: #fff;
}

/* ---------------------------------------------------
  Navigation Style
----------------------------------------------------- */

.navbar {
  padding: 15px 10px;
  border-radius: 0;
  margin-bottom: 20px;
  margin-right: 0px; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
  Style gradient animation (line bottom)
----------------------------------------------------- */

.navbarp {
  padding: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  bottom: -20px;
  left: 0px;
  position: absolute;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ignielPelangi {
  background: linear-gradient(-50deg,#ee5952,#ea3a7e,#20aadb,#23e0b3);
  background-size: 320% 200%; 
  -webkit-animation: ignielGradient 12s ease infinite;
  -moz-animation: ignielGradient 12s ease infinite;
  animation: ignielGradient 10s ease infinite;
}
@-webkit-keyframes ignielGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes ignielGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes ignielGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#myHeader.sticky-top {
  margin-left: -40px;
  margin-right: -40px;
  transition: 0.1s all;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #2f353a;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  font-family: 'Loguetown Demo', sans-serif;
  color: #fff;
  padding: 16px;
  background: linear-gradient(-50deg,#ea3a7e,#20aadb);
  animation: Gradient 10s ease infinite;
  background-size: 320% 200%; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px dashed #2f353a;
}

#sidebar .pe {
  font-family: 'keep calm mid', sans-serif;
  color: #2f353a;
  margin: 10px;
  border-bottom: 1px dashed #2f353a;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 11pt;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #20a8d8;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #20a8d8;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#userdrop,
#userdrop1 {
  color: #fff;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #20a8d8;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

input.download:hover,
a.article:hover {
  background: #20a8d8;
  color: #fff;
}

input.download,
a.article {
  color: #fff;
  background: linear-gradient(-50deg,#ea3a7e,#20aadb);
  animation: btnGradient 10s ease infinite;
  background-size: 320% 200%; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@keyframes btnGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  background: #fff;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
  color: #f0ad4e;
  font-size: 14pt;
}

.bd-callout p {
  margin-bottom: 0;
  font-size: 11.5pt;
}

/* ---------------------------------------------------
  Dashboard Cards
----------------------------------------------------- */

.dashboard-cards {
  position: relative;
  padding-bottom: 50px;
  margin: 0px 20px 0px 10px !important;
}

.dashboard-cards .card {
  background: #ffffff;
  display: inline-block;
  z-index: 20;
  padding: 0 !important;
  margin: 5px 5px 10px 5px;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  /*width: calc(33.333333% - 15px);*/
  cursor: pointer;
  transition: all 0.3s ease;
}

.dashboard-cards .card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
}

.dashboard-cards .card .card-title {
  background: #ffffff;
  padding: 20px 15px;
  position: relative;
  z-index: 0;
}

.dashboard-cards .card .card-title h2 {
  font-size: 24px;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.dashboard-cards .card .card-title h2 small {
  display: block;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: -0.025em;
}

.dashboard-cards .card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px;
  text-align: center;
}

.dashboard-cards .card .task-count {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 10px;
  background: #ecf0f1;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  color: #333333;
  font-weight: 600;
  transition: all .2s ease;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}